{namespace neos=Neos\Neos\ViewHelpers}
<f:render section="itemList" arguments="{_all}" />
<f:section name="itemList">
    <div id="my-menu">
        <ul>
            <f:for each="{items}" as="item" iteration="menuItemIterator">
                <li class="nav-item {item.state} {f:if(condition: item.subItems, then: 'sub')}">
                    <f:if condition="{item.subItems}">
                        <f:then>
                            <a href="{neos:uri.node(node: item.node)}">{item.label} <i class="fa fa-angle-down"></i></a>
                            <f:render section="subListFirst" arguments="{items: item.subItems}" />
                        </f:then>
                        <f:else>
                            <a href="{neos:uri.node(node: item.node)}">{item.label}</a>
                        </f:else>

                    </f:if>
                </li>
            </f:for>
        </ul>
    </div>
</f:section>

<f:section name="subListFirst">
    <ul>
        <f:for each="{items}" as="item">
            <li class="{item.state}">
                <f:if condition="{item.subItems}">
                    <f:then>
                        <a href="{neos:uri.node(node: item.node)}">{item.label} <i class="fa fa-angle-down"></i></a>
                        <f:render section="subListFirst" arguments="{items: item.subItems}" />
                    </f:then>
                    <f:else>
                        <a href="{neos:uri.node(node: item.node)}">{item.label}</a>
                    </f:else>

                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>